* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    color: white;
    background-color: #0071C1;
    text-align: center;
}

header img {
    width: 100%;
    object-fit: cover;
    grid-column: 1/4;
    grid-row: 1/4;
    object-fit: cover;
    overflow: clip;
    height: 400px;
}

header section {
    grid-column: 2/3;
    grid-row: 2/3;
}

main {
    width: 80%;
    text-align: center;
    margin: 10px auto;
}

div {
    margin: 10px auto;
    border-top-color: #008001;
    border-top-style: ridge;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
}

ul {
    width: fit-content;
    text-align: left;
}

img {
    background-color: #374249;
}

table {
    margin: 0 auto;
    border-style: solid;
    font-size: 1.5em;
}

th,
td {
    padding: .5em;
    border-style: solid;
    border-color: darkgrey;
}

#primary {
    background-color: #0071C1;
    color: white;
}

#secondary {
    background-color: #008001;
    color: white;
}

#accent1 {
    background-color: #000000;
    color: white;
}

#accent2 {
    background-color: #374249;
    color: white;
}

#canvas {
    background-color: #ffffff;
}

.colored {
    background-color: #008001;
    color: white;
    padding: 1em;
}

#nav_bar_example {
    background-color: #374249;
    color: white;
    display: flex;
}

#nav_bar_example>span {
    width: 25%;
    padding: 1em;
}

#nav_bar_example>span:hover {
    background-color: #0071C1;
}

#nav_drop_example {
    background-color: #374249;
    color: white;
    display: grid;
    width: 200px;
}

#nav_drop_example>span {
    padding: 1em;
}

#nav_drop_example>span:hover {
    background-color: #0071C1;
}