@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: auto auto auto;
        width: 1024px;
    }

    section:nth-of-type(3) {
        grid-column: auto;
        width: auto;
    }

    section:nth-of-type(3) img {
        width: auto;
    }
}