* {
    --heading-font: "Open Sans", sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
    font-family: var(--body-font);
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    display: flex;
    margin: 0;
    padding: 10px;
    min-height: 100px;
    min-width: 460px;
    font-family: var(--heading-font);
    text-align: center;
}

header h1 {
    margin-right: 3em;
    width: 100%;
    font-size: 2em;
}


#toplogo {
    height: 100px;
}

h1,
h2,
h3,
#menubutton {
    font-family: var(--heading-font);
}

#menu {
    display: grid;
    background-color: #000;
    color: white;
    list-style: none;
    text-align: left;
    position: absolute;
    top: 2.5em;
    right: 0;

}

#menu a {
    display: none;
    color: white;
    text-decoration: none;
    padding: 1em 2em;

}

#menu a:hover {
    background-color: #0071C1;
}

.active::after {
    content: " ◆";
}

#menubutton {
    font-size: 2rem;
    border: 0;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
}

#menubutton::before {
    content: "☰";
}

#menubutton.open::before {
    content: "x";
}

#darkmode {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: .35em;
    right: 1.5em;
}

#darkmode::before {
    content: '☾';
}

#darkmode.on::before {
    content: '☀︎';
}

#menu.open a {
    display: block;
}

#hero {
    display: grid;
}

#hero img {
    max-height: 300px;
    min-height: 100px;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1;
}

#joinbutton {
    background-color: #0071C1;
    font-weight: bold;
    color: white;
    font-size: 1em;
    grid-column: 1;
    grid-row: 1;
    margin: 20px auto;
    height: 3em;
    width: 12em;
    font-family: var(--heading-font);
    border-radius: 10px;
}

.card {
    text-align: left;
    background-color: lightgray;
    border: solid .5px;
    border-radius: 5px;
    margin: 1em;
    padding: .75em;
    color: black;
}

.card h2 {
    padding-bottom: .25em;
    margin: 0;
    border-bottom: .5px solid gray;
}

.card h3 {
    margin-bottom: .25em;
}

.card p {
    padding: .2em;
    margin: 0;
    color: blue;
}

.spotlight.card {
    text-align: center;
}

.spotlight.card p:nth-last-of-type(4) {
    text-align: right;
    padding: .5em 0;
    color: black;
}

footer {
    display: grid;
    grid-template: auto auto / 100px auto auto;
    background-color: #374249;
    color: white;
    padding: 10px;
    min-height: 100px;
    min-width: 460px;
}

#bottomlogo {
    grid-column: 1;
    grid-row: 1 / 2;
    height: 100px;
}

#mailing_addr {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
}

#mailing_addr h3,
#mailing_addr h2 {
    margin: 0;
}

#contact_info {
    grid-column: 3;
    grid-row: 1;
    text-align: left;
}

#copymod {
    grid-column: 1 / 4;
    grid-row: 2;
    text-align: center;
    margin: 10px auto;
}

footer p {
    padding: 0;
    margin: 0;
}