body {
    height: 100vh;
    text-align: center;
}

header {
    background: rgba(48, 88, 151, 0.896);
    padding: 2em;
    display: block;
    align-items: center;
    margin: 0 auto;
    border-bottom: solid;
}

#menu {
    display: grid;
    background-color: black;
    color: white;
    list-style: none;
}

#menu a {
    display: none;
    color: white;
    font-family: Arial;
    padding: 1em;
    text-decoration: none;
}

#menu a:hover {
    background-color: lightgrey;
    color: black;
}

.active::before {
    content: "➤ ";
}

main {
    display: grid;
    grid-template-columns: auto;
    width: 80%;
    background: white;
    padding: 0;
    margin: 0 auto;
}

footer {
    display: inline-block;
    background: black;
    padding: 1rem;
    color: white;
    text-align: center;
    width: 100%;
}

h1 {
    color: white;
    display: inline;
    vertical-align: 200%;
    font-family: Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: solid;
    border-width: .75px;
    border-color: grey;
    margin: 20px auto 10px auto;
    padding: 0 0 .25em 0;
}

h3 {
    background: rgba(48, 88, 151, 0.896);
    color: white;
    padding: .5em;
    margin: 0;
}

.card {
    width: 100%;
    border: solid;
    border-width: .5px;
    border-color: lightgrey;
    border-radius: .5em;
    margin: 0 auto 10px auto;
    text-align: center;
}

img {
    margin-right: 2em;
    border: solid;
    border-width: .5px;
    border-radius: .5em;

}

ul,
li {
    list-style-type: none;
    margin: .5em;
    padding: 0;
    text-align: left;
}

iframe {
    grid-column: 1/2;
}

#menubutton {
    font-size: 2rem;
    border: 0;
    background: none;
    color: #000;
    position: fixed;
    top: 10px;
    right: 10px;
}

#menubutton::before {
    content: "☰";
}

#menubutton.open::before {
    content: "✖️"
}

#menu.open a {
    display: block;
}