body {
    height: 100vh;
    text-align: center;
}

header {
    background: rgba(48, 88, 151, 0.896);
    padding: 2em;
    display: block;
    align-items: center;
    margin: 0 auto;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    background: black;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    padding: 1em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    background: white;
    padding: 2rem;
    margin: 1rem auto;
}

footer {
    display: inline-block;
    background: black;
    padding: 1rem;
    color: white;
    text-align: center;
    width: 100%;
}

h1 {
    color: white;
    display: inline;
    vertical-align: 200%;
    font-family: Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: solid;
    border-width: .75px;
    border-color: grey;
    padding: 0 0 .5em 0;
}

h3 {
    background: rgba(48, 88, 151, 0.896);
    color: white;
    padding: .5em;
    margin: 0;
}

.card {
    width: 100%;
    border: solid;
    border-width: .5px;
    border-color: lightgrey;
    border-radius: .5em;
    margin: 1rem auto;
    text-align: center;
}

img {
    margin-right: 2em;
    border: solid;
    border-width: .5px;
    border-radius: .5em;

}

ul,
li {
    list-style-type: none;
    margin: .5em;
    padding: 0;
    text-align: left;
}